<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/twitterwarz.css' %}">
    <title>{{user.username}}'s latest tweets</title>
</head>
<body style="background: url({{user.background_img_url}})">
  <div id="wrap">
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">30 latest tweets from {{user.username}}</h1>
       {% for id, tweet in tweets.items %}
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">{{tweet.timestamp}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">Content</h6>
              <p class="card-text">{{tweet.content}}</p>
              <a href="https://twitter.com/{{user.username}}/status/{{id}}" class="card-link">link to tweet</a>
            </div>
          </div>
       {% endfor %}
      </div>
    </div>
  <div class="container bg-info">
  </div>
  <footer class="navbar-fixed-bottom">
    <div class="container">
      <div class="container text-center">
        <p class="text-muted">(C) 2016 TwitterWarz </p>
      </div>
    </div>
  </footer>
</body>
</html>
