div#wrap {
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding-bottom: 30%;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: yellow;
}

.navbar-fixed-bottom {
  background-color: darkred;
  height: 8%;
  line-height: 2.3em;
}

/*.jumbotron {
  height: 50%;
}*/
